{% extends "layout.html" %}   <!-- наследование кода из шаблона layout.html, связь между двумя шаблонами -->
{% block page %}{{title}}{% endblock %}  <!--Присоединения кода к базовому заголовку, переопределение базового заголовка-->
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}           <!-- открывается блок, куда всталяется код данной страницы -->
  <h3> This is the start of my child template</h3>
  <br>
  <h4>Current date/time: {{ current_time }}</h4>
  <br>
  {% with num = 43.99 %}
    <h2>{{num|round}}</h2>
  {% endwith %}
  <p>My string: {{my_string}}</p>
  <p>Value from the list: {{my_list[3]}}</p>
  <p>The same list without filter {{my_list}}</p>
  <p>The same list with filter join: {{my_list|join("#")}}</p>
  <p>Loop through the list:</p>
  <ul>
    {% for n in my_list %}
    <li>{{n}}</li>
    {% endfor %}
  </ul>
  <h3> This is the end of my child template</h3>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}                <!-- закрывается блок, куда всталяется код данной страницы -->